<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>

        {% include "templates/loader.html" %}

        <div id="viewport" style="display: none;">
            <div id="intro-view" >
                <div class="svg-wrapper fill-w">
                    <object id="logo-solid-1" class="fill-w" data="/svg/logo_solid_1.svg" type="image/svg+xml" ></object>
                </div><hr>
            </div>

        </div>

        <!--[if IE]><script type="text/javascript" src='/css/ie.js'></script><![endif]-->

        {% script "/js/goog/base.js" %}
        {% script "/js/app.js" %}
        <script type="text/javascript">goog.require("an1m8.core");</script>

        <script type="text/javascript">
            var context = "{{servlet-context}}";

            // app initialization
            // todo - add data here
            an1m8.core.run(an1m8.core.app);
        </script>
    </body>
</html>
