<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
    <div class="svg-wrapper fill-w">
                    <object id="logo-solid-1" class="fill-w" data="/svg/logo_solid_1.svg" type="image/svg+xml" ></object>
                </div>
      <div class="fixed-column">
        <ul>
          {% for item in items %}
          <li> <img src={{item}} alt="an1m8" height="42" width="42"> </li>
          {% endfor %}
        </ul>
      </div>
    </body>
