body {
  padding: 1em;
  font-family: Helvetica;
  line-height: 140%;
}

button {
  vertical-align: top;
  padding: 1em;
}

.svg-wrapper {
  min-width: 50%;
  width: 50%;

  border: 1px solid red;
}

.svg-wrapper object {
  display: inline;
}

.svg-wrapper .fill-w {
  width: 100%;
}


