body {
  font-family: Helvetica;
  line-height: 140%;
}

button {
  vertical-align: top;
  padding: 1em;
}

.svg-wrapper {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
}


.svg-wrapper object {
  display: inline;
  vertical-align: top;
}

.fill-w {
  width: 100%;
  min-width: 100%;
}


.fill-h {
  height: 100%;
}


.w_1_3 {
  min-width: 33%;
  width: 33%;
}

.h_1_3 {
  height: 33%;
  min-height: 33%;
}




.table {
	display: table;
	width: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.center {
	text-align: center;
}


.min-h100{
  min-height:100%
}




#loader {
  border-radius: 1em;
}
